@model IEnumerable<HistoriasClinicas.Models.Nota>

@{
    ViewData["Title"] = "Index";
}

<h1>Indice</h1>

<p>
    <a asp-action="Create">Crear nueva nota</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NotaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.NotaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.NotaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
